button {
  background-color: transparent;
  padding: 5px;
  margin: 3px;
  font-size: 16px;
  font-family: "Ubuntu";
}

label,
spinbutton {
  background-color: transparent;
  font-size: 16px;
  font-family: "Ubuntu";
}

.button-play {
  color: dodgerblue;
}

.button-stop {
  color: darkorange;
}

.label-tempo {
  background-color: forestgreen;
  font-size: 40px;
  font-family: "Ubuntu";
}

.label-temponame {
  background-color: forestgreen;
  font-size: 25px;
  font-family: "Ubuntu";
  padding-bottom: 5px;
}

.label-beat {
  background-color: dodgerblue;
  font-size: 60px;
  font-family: "Ubuntu";
}
